.header {
  height: 12.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--gray-700);
}

.header img {
  height: 2rem;

  margin-right: 0.75rem;
}

.header span {
  font-size: 2.5rem;
  font-weight: 700;
}

.textBlue {
  color: var(--blue-500);
}

.textPurple {
  color: var(--purple-500);
}